*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(43, 43, 43);
}

.logo{
    font-size: 35px;
    color: #ffb742;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 60px;
    height: 60px;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin: 0px 40px;
}

nav ul li a{
    text-decoration: none;  
    color: #fff;
    font-size: 17px;
}
nav ul li a:hover{
    color: #ffb742; 
}

a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.botao button{
    padding: 8px 30px;
    border-radius: 5px;
    border: black solid 1px;
    background-color: #ffb742;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 80vh;
}

.container img{
    width: 200px;
    margin-top: 90px;
}

.container h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container h1 a{
    color: #ffb742;
    font-size: 30px;
}

.title{
    font-size: 50px;
    margin-top: 20px;
    font-weight: 550;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
    font-size: 15px;
    margin-top: 20px;
    color:#cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

.habilidades{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    height: 20vh;
}

.skill{
    width: 400px;
    background-color: rgb(53, 53, 53);
    display: flex;
    height: 90px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.skill .iconlogo i{
    color: #000000;
    font-size: 40px;
    align-items: center;
    background-color: #fff;
    border-radius: 100% ;
}

.skill h2{
    color:#ffb742;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 37px;
    margin-bottom: 5px;
}

.skill p{
    color:#fff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.skill i{
    font-size: 30px;
    color: #fff;
}

.skill:hover{
    border: 0.5px solid #ffb742;
    transition: ease-in-out;
}

h3, h5{
    color:#ffb742;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    width: 95px;
    padding:10px;
    border-radius:10px;
    background-color: rgb(53, 53, 53);
    margin: 0px 50px;
}

.sobre{
    display: flex;
    height: 70vh;
    margin: 40px 80px;
}

.imagem img{
    height: 70vh;
}
.info{
    margin-left: 80px;
}
.info h4{
    color: #fff;
    font-size: 35px;
    margin-top: 150px;
    font-family:Arial, Helvetica, sans-serif;
}

.info p{
    color:#bcbcbc;
    margin-top: 30px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.info button{
    padding: 8px 30px;
    border-radius: 5px;
    border: black solid 1px;
    background-color: #ffb742;
    margin-top: 35px;  
}

.seila{
    margin: 40px 120px;
    display: flex;
}

.esquerda h1{
    color: #fff;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}


.esquerda p{
    color:#bcbcbc;
    margin-top: 30px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.esquerda button{
    padding: 8px 30px;
    border-radius: 5px;
    border: black solid 1px;
    background-color: #ffb742;
    margin-top: 35px;   
}
.direita{
    display: flex;
    width: 420px;
    height: 120px;
    color:#fff;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-left: 190px;
}

.direita .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(53, 53, 53);
    border-radius: 8px;
}

.direita .item:hover{
    border: 0.5px solid #ffb742;
    transition: ease-in-out;
}

footer{
    margin-top: 200px;
    height: 50vh;
    background-color: rgb(39, 39, 39);
    position: relative; 
}

footer .balaof{
    display: flex;
    left: 20%;
    align-items: center;
    background-color: #ffb742;
    width: 60%;
    border-radius: 10px;
    position: absolute;
    height: 100px; 
    top: -10%;
    justify-content: space-evenly;
}
.balaof h1{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 font-weight: 700;
}
.balaof button{
    padding: 10px;
    border-radius: 50px;
    border: solid 1px;
    background: transparent;
}

.colunas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px;
}

.col1 h6{
    color:#ffb742;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 120px;
}

.col1 p{
    color:#bcbcbc;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 30px;
}

.col2 h1{
    color: #fff;
    margin-top: 120px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
}
.col2 li{
    list-style: none;
    margin-top: 20px;
}.col2 a{
    color: #bcbcbc;
    justify-content: center;
}

.col3 h4{
    color: #fff;
    margin-top: 120px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
}.col3 li{
    list-style: none;
    margin-top: 20px;
}.col3 a{
    color: #bcbcbc; 
    justify-content: center;
}
.col4 h4{
    color: #fff;
    font-size: 18px;
    margin-top: 100px;
    font-family:Arial, Helvetica, sans-serif ;
}

.col4 p{
    color: #bcbcbc; 
    margin-top: 20px;
}

form input{
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    background-color: #525252f0;
}
form button i{
    font-size: 20px;
}
form button{
    border-radius: 60px;
    background-color: #ffb742;
    width: 40px;
    height: 40px;
    border:none;
}